@import url("https://theshoperr.github.io/BDO-Themes/extras/AvatarNameplateBase.css");

/*                                                              USERS LIST                                                     */

.avatar-1BDn8e[src*="235563052244795392"] + h2::after{
  content: "Theshoperr";
  --user-color: rgb(69, 161, 100);
  --user-image: url("https://i.imgur.com/3FBPjku.gif");
}
