/*#BREAK*/

.message-2qnXI6[data-author-id="299994897157586944"] .username-1A8OIy,
.member-3-YXUe[data-user-id="299994897157586944"] .roleColor-rz2vM0,

.message-2qnXI6[data-author-id="690339598035189882"] .username-1A8OIy,
.member-3-YXUe[data-user-id="690339598035189882"] .roleColor-rz2vM0,

.message-2qnXI6[data-author-id="235563052244795392"] .username-1A8OIy,
.member-3-YXUe[data-user-id="235563052244795392"] .roleColor-rz2vM0{
  font-weight: 1000 !important;
  transition: filter .2s ease-in-out .2s;
  /*animation: rainbow 3s infinite linear both !important;*/
  filter: brightness(1) invert(0);
  text-shadow: 0px 0px 5px;
}

/*------------------------------ON HOVER---------------------------------------*/

/*#BREAK*/

.message-2qnXI6[data-author-id="299994897157586944"] .username-1A8OIy:hover,
.member-3-YXUe[data-user-id="299994897157586944"] .roleColor-rz2vM0:hover,

.message-2qnXI6[data-author-id="690339598035189882"] .username-1A8OIy:hover,
.member-3-YXUe[data-user-id="690339598035189882"] .roleColor-rz2vM0:hover,

.message-2qnXI6[data-author-id="235563052244795392"] .username-1A8OIy:hover,
.member-3-YXUe[data-user-id="235563052244795392"] .roleColor-rz2vM0:hover{
  filter: brightness(0) invert(1) !important;
}

@keyframes rainbow {
    from {
        filter: hue-rotate(0);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

/*#theshoperr-s-code*/
