.userPopout-xaxa6l[data-user-id="299994897157586944"] .container-q03LZO::before,
.root-3QyAh1[data-user-id="299994897157586944"] .container-q03LZO::before,

.userPopout-xaxa6l[data-user-id="690339598035189882"] .container-q03LZO::before,
.root-3QyAh1[data-user-id="690339598035189882"] .container-q03LZO::before,

.userPopout-xaxa6l[data-user-id="235563052244795392"] .container-q03LZO::before,
.root-3QyAh1[data-user-id="235563052244795392"] .container-q03LZO::before {
    content: "";
    position: relative;
    margin: 0 6px;
    pointer-events: none;
    background: url("https://images-ext-2.discordapp.net/external/Xvo1GROdIwsDAel2PcLRywF3K7rNqyb5Ad9s7TjuhfE/%3Fsize%3D48%26size%3D40/https/cdn.discordapp.com/emojis/604773690785398784.png") center/contain no-repeat;
}

.userPopout-xaxa6l[data-user-id="299994897157586944"] .container-q03LZO::before,
.userPopout-xaxa6l[data-user-id="235563052244795392"] .container-q03LZO::before,
.userPopout-xaxa6l[data-user-id="690339598035189882"] .container-q03LZO::before{
    width: 20px;
    height: 21px;
}
