/*                                                                                    BASE CODE                                       */
:root{
  --user-color: #000;
  --user-image: url("https://i.imgur.com/6LUsNYG.gif");
  --user-name: '';
}
#app-mount .avatar-1BDn8e + h2 {
  overflow: visible;
}
.chat-3bRxxu>.content-yTz4x3 .messages-3amgkR .containerCozy-jafyvG,
.container-3FojY8 {
  overflow: visible;
}
.avatar-1BDn8e + h2::after {
  color: #fff;
  font-family: 'BMTicons';
  cursor: pointer;
  pointer-events: none;
  display: inline-block !important;
  position: absolute;
  bottom: -42px;
  left: -42px;
  opacity: 1;
  transition: opacity .25s ease-in-out;
}
.avatar-1BDn8e:hover + h2::after {
  background-image: var(--user-image);
  background-color: var(--user-color);
  background-size: cover;
  content: var(--user-name);
  box-shadow: 0 0 5px 2px var(--user-color);
  pointer-events: none;
  color: #fff;
  text-shadow: 1px 1px 3px black !important;
  box-sizing: border-box;
  white-space: nowrap;
  bottom: -31px;
  padding: 3px 10px;
  border-radius: calc(var(--ui-border) - 10px);
  font-size: 13px;
  font-weight: 600;
  z-index: 2340;
  display: block;
  position: absolute;
  width: auto;
  height: 30px !important;
  transform: scale(1);
  opacity: 1;
}
#app-mount .messagesPopoutWrap-1MQ1bW .avatar-1BDn8e+ h2::after{
  display: none !important;
}
