.theme-dark {
  --colour-1: #FEC4DF;
  --colour-2: #EFC8F3;
  --colour-3: #D2D0FC;
  --colour-4: #B0DAF6;
  --colour-5: #9AE1E3;
  --colour-6: #9FE2C9;
  --colour-7: #B8DFB2;
  --colour-8: #D6D8A7;
  --colour-9: #EFCFAF;
  --colour-10: #FDC7C5;
}

.theme-light {
  --colour-1: #FEC4DF;
  --colour-2: #EFC8F3;
  --colour-3: #D2D0FC;
  --colour-4: #B0DAF6;
  --colour-5: #9AE1E3;
  --colour-6: #9FE2C9;
  --colour-7: #B8DFB2;
  --colour-8: #D6D8A7;
  --colour-9: #EFCFAF;
  --colour-10: #FDC7C5;
}

.modeMuted-onO3r-,.muted-2JBAyG{
    opacity: 0.5;
}
#channels div div:nth-child(2) div div a div, #channels div div:nth-child(2) div div a div svg, #channels div div:nth-child(2) div div.mainContent-2h-GEV, #channels div div:nth-child(2) div div.mainContent-2h-GEV h2 div {
    color: var(--colour-2);
}
#channels div div:nth-child(3) div div a div, #channels div div:nth-child(3) div div a div svg, #channels div div:nth-child(3) div div.mainContent-2h-GEV, #channels div div:nth-child(3) div div.mainContent-2h-GEV h2{
    color: var(--colour-3);
}
#channels div div:nth-child(4) div div a div, #channels div div:nth-child(4) div div a div svg, #channels div div:nth-child(4) div div.mainContent-2h-GEV, #channels div div:nth-child(4) div div.mainContent-2h-GEV h2{
    color: var(--colour-4);
}
#channels div div:nth-child(5) div div a div, #channels div div:nth-child(5) div div a div svg, #channels div div:nth-child(5) div div.mainContent-2h-GEV, #channels div div:nth-child(5) div div.mainContent-2h-GEV h2{
    color: var(--colour-5);
}
#channels div div:nth-child(6) div div a div, #channels div div:nth-child(6) div div a div svg, #channels div div:nth-child(6) div div.mainContent-2h-GEV, #channels div div:nth-child(6) div div.mainContent-2h-GEV h2{
    color: var(--colour-6);
}
#channels div div:nth-child(7) div div a div, #channels div div:nth-child(7) div div a div svg, #channels div div:nth-child(7) div div.mainContent-2h-GEV, #channels div div:nth-child(7) div div.mainContent-2h-GEV h2{
    color: var(--colour-7);
}
#channels div div:nth-child(8) div div a div, #channels div div:nth-child(8) div div a div svg, #channels div div:nth-child(8) div div.mainContent-2h-GEV, #channels div div:nth-child(8) div div.mainContent-2h-GEV h2 div {
    color: var(--colour-8);
}
#channels div div:nth-child(9) div div a div, #channels div div:nth-child(9) div div a div svg, #channels div div:nth-child(9) div div.mainContent-2h-GEV, #channels div div:nth-child(9) div div.mainContent-2h-GEV h2{
    color: var(--colour-9);
}
#channels div div:nth-child(10) div div a div, #channels div div:nth-child(10) div div a div svg, #channels div div:nth-child(10) div div.mainContent-2h-GEV, #channels div div:nth-child(10) div div.mainContent-2h-GEV h2{
    color: var(--colour-10);
}
#channels div div:nth-child(11) div div a div, #channels div div:nth-child(11) div div a div svg, #channels div div:nth-child(11) div div.mainContent-2h-GEV, #channels div div:nth-child(11) div div.mainContent-2h-GEV h2{
    color: var(--colour-1);
}
#channels div div:nth-child(12) div div a div, #channels div div:nth-child(12) div div a div svg, #channels div div:nth-child(12) div div.mainContent-2h-GEV, #channels div div:nth-child(12) div div.mainContent-2h-GEV h2 div {
    color: var(--colour-2);
}
#channels div div:nth-child(13) div div a div, #channels div div:nth-child(13) div div a div svg, #channels div div:nth-child(13) div div.mainContent-2h-GEV, #channels div div:nth-child(13) div div.mainContent-2h-GEV h2{
    color: var(--colour-3);
}
#channels div div:nth-child(14) div div a div, #channels div div:nth-child(14) div div a div svg, #channels div div:nth-child(14) div div.mainContent-2h-GEV, #channels div div:nth-child(14) div div.mainContent-2h-GEV h2{
    color: var(--colour-4);
}
#channels div div:nth-child(15) div div a div, #channels div div:nth-child(15) div div a div svg, #channels div div:nth-child(15) div div.mainContent-2h-GEV, #channels div div:nth-child(15) div div.mainContent-2h-GEV h2{
    color: var(--colour-5);
}
#channels div div:nth-child(16) div div a div, #channels div div:nth-child(16) div div a div svg, #channels div div:nth-child(16) div div.mainContent-2h-GEV, #channels div div:nth-child(16) div div.mainContent-2h-GEV h2{
    color: var(--colour-6);
}
#channels div div:nth-child(17) div div a div, #channels div div:nth-child(17) div div a div svg, #channels div div:nth-child(17) div div.mainContent-2h-GEV, #channels div div:nth-child(17) div div.mainContent-2h-GEV h2{
    color: var(--colour-7);
}
#channels div div:nth-child(18) div div a div, #channels div div:nth-child(18) div div a div svg, #channels div div:nth-child(18) div div.mainContent-2h-GEV, #channels div div:nth-child(18) div div.mainContent-2h-GEV h2 div {
    color: var(--colour-8);
}
#channels div div:nth-child(19) div div a div, #channels div div:nth-child(19) div div a div svg, #channels div div:nth-child(19) div div.mainContent-2h-GEV, #channels div div:nth-child(19) div div.mainContent-2h-GEV h2{
    color: var(--colour-9);
}
#channels div div:nth-child(20) div div a div, #channels div div:nth-child(20) div div a div svg, #channels div div:nth-child(20) div div.mainContent-2h-GEV, #channels div div:nth-child(20) div div.mainContent-2h-GEV h2{
    color: var(--colour-10);
}
#channels div div:nth-child(21) div div a div, #channels div div:nth-child(21) div div a div svg, #channels div div:nth-child(21) div div.mainContent-2h-GEV, #channels div div:nth-child(21) div div.mainContent-2h-GEV h2{
    color: var(--colour-1);
}
#channels div div:nth-child(22) div div a div, #channels div div:nth-child(22) div div a div svg, #channels div div:nth-child(22) div div.mainContent-2h-GEV, #channels div div:nth-child(22) div div.mainContent-2h-GEV h2 div {
    color: var(--colour-2);
}
#channels div div:nth-child(23) div div a div, #channels div div:nth-child(23) div div a div svg, #channels div div:nth-child(23) div div.mainContent-2h-GEV, #channels div div:nth-child(23) div div.mainContent-2h-GEV h2{
    color: var(--colour-3);
}
#channels div div:nth-child(24) div div a div, #channels div div:nth-child(24) div div a div svg, #channels div div:nth-child(24) div div.mainContent-2h-GEV, #channels div div:nth-child(24) div div.mainContent-2h-GEV h2{
    color: var(--colour-4);
}
#channels div div:nth-child(25) div div a div, #channels div div:nth-child(25) div div a div svg, #channels div div:nth-child(25) div div.mainContent-2h-GEV, #channels div div:nth-child(25) div div.mainContent-2h-GEV h2{
    color: var(--colour-5);
}
#channels div div:nth-child(26) div div a div, #channels div div:nth-child(26) div div a div svg, #channels div div:nth-child(26) div div.mainContent-2h-GEV, #channels div div:nth-child(26) div div.mainContent-2h-GEV h2{
    color: var(--colour-6);
}
#channels div div:nth-child(27) div div a div, #channels div div:nth-child(27) div div a div svg, #channels div div:nth-child(27) div div.mainContent-2h-GEV, #channels div div:nth-child(27) div div.mainContent-2h-GEV h2{
    color: var(--colour-7);
}
#channels div div:nth-child(28) div div a div, #channels div div:nth-child(28) div div a div svg, #channels div div:nth-child(28) div div.mainContent-2h-GEV, #channels div div:nth-child(28) div div.mainContent-2h-GEV h2 div {
    color: var(--colour-8);
}
#channels div div:nth-child(29) div div a div, #channels div div:nth-child(29) div div a div svg, #channels div div:nth-child(29) div div.mainContent-2h-GEV, #channels div div:nth-child(29) div div.mainContent-2h-GEV h2{
    color: var(--colour-9);
}
#channels div div:nth-child(30) div div a div, #channels div div:nth-child(30) div div a div svg, #channels div div:nth-child(30) div div.mainContent-2h-GEV, #channels div div:nth-child(30) div div.mainContent-2h-GEV h2{
    color: var(--colour-10);
}
#channels div div:nth-child(31) div div a div, #channels div div:nth-child(31) div div a div svg, #channels div div:nth-child(31) div div.mainContent-2h-GEV, #channels div div:nth-child(31) div div.mainContent-2h-GEV h2{
    color: var(--colour-1);
}
#channels div div:nth-child(32) div div a div, #channels div div:nth-child(32) div div a div svg, #channels div div:nth-child(32) div div.mainContent-2h-GEV, #channels div div:nth-child(32) div div.mainContent-2h-GEV h2 div {
    color: var(--colour-2);
}
#channels div div:nth-child(33) div div a div, #channels div div:nth-child(33) div div a div svg, #channels div div:nth-child(33) div div.mainContent-2h-GEV, #channels div div:nth-child(33) div div.mainContent-2h-GEV h2{
    color: var(--colour-3);
}
#channels div div:nth-child(34) div div a div, #channels div div:nth-child(34) div div a div svg, #channels div div:nth-child(34) div div.mainContent-2h-GEV, #channels div div:nth-child(34) div div.mainContent-2h-GEV h2{
    color: var(--colour-4);
}
#channels div div:nth-child(35) div div a div, #channels div div:nth-child(35) div div a div svg, #channels div div:nth-child(35) div div.mainContent-2h-GEV, #channels div div:nth-child(35) div div.mainContent-2h-GEV h2{
    color: var(--colour-5);
}
#channels div div:nth-child(36) div div a div, #channels div div:nth-child(36) div div a div svg, #channels div div:nth-child(36) div div.mainContent-2h-GEV, #channels div div:nth-child(36) div div.mainContent-2h-GEV h2{
    color: var(--colour-6);
}
#channels div div:nth-child(37) div div a div, #channels div div:nth-child(37) div div a div svg, #channels div div:nth-child(37) div div.mainContent-2h-GEV, #channels div div:nth-child(37) div div.mainContent-2h-GEV h2{
    color: var(--colour-7);
}
#channels div div:nth-child(38) div div a div, #channels div div:nth-child(38) div div a div svg, #channels div div:nth-child(38) div div.mainContent-2h-GEV, #channels div div:nth-child(38) div div.mainContent-2h-GEV h2 div {
    color: var(--colour-8);
}
#channels div div:nth-child(39) div div a div, #channels div div:nth-child(39) div div a div svg, #channels div div:nth-child(39) div div.mainContent-2h-GEV, #channels div div:nth-child(39) div div.mainContent-2h-GEV h2{
    color: var(--colour-9);
}
#channels div div:nth-child(40) div div a div, #channels div div:nth-child(40) div div a div svg, #channels div div:nth-child(40) div div.mainContent-2h-GEV, #channels div div:nth-child(40) div div.mainContent-2h-GEV h2{
    color: var(--colour-10);
}
#channels div div:nth-child(41) div div a div, #channels div div:nth-child(41) div div a div svg, #channels div div:nth-child(41) div div.mainContent-2h-GEV, #channels div div:nth-child(41) div div.mainContent-2h-GEV h2{
    color: var(--colour-1);
}
#channels div div:nth-child(42) div div a div, #channels div div:nth-child(42) div div a div svg, #channels div div:nth-child(42) div div.mainContent-2h-GEV, #channels div div:nth-child(42) div div.mainContent-2h-GEV h2 div {
    color: var(--colour-2);
}
#channels div div:nth-child(43) div div a div, #channels div div:nth-child(43) div div a div svg, #channels div div:nth-child(43) div div.mainContent-2h-GEV, #channels div div:nth-child(43) div div.mainContent-2h-GEV h2{
    color: var(--colour-3);
}
#channels div div:nth-child(44) div div a div, #channels div div:nth-child(44) div div a div svg, #channels div div:nth-child(44) div div.mainContent-2h-GEV, #channels div div:nth-child(44) div div.mainContent-2h-GEV h2{
    color: var(--colour-4);
}
#channels div div:nth-child(45) div div a div, #channels div div:nth-child(45) div div a div svg, #channels div div:nth-child(45) div div.mainContent-2h-GEV, #channels div div:nth-child(45) div div.mainContent-2h-GEV h2{
    color: var(--colour-5);
}
#channels div div:nth-child(46) div div a div, #channels div div:nth-child(46) div div a div svg, #channels div div:nth-child(46) div div.mainContent-2h-GEV, #channels div div:nth-child(46) div div.mainContent-2h-GEV h2{
    color: var(--colour-6);
}
#channels div div:nth-child(47) div div a div, #channels div div:nth-child(47) div div a div svg, #channels div div:nth-child(47) div div.mainContent-2h-GEV, #channels div div:nth-child(47) div div.mainContent-2h-GEV h2{
    color: var(--colour-7);
}
#channels div div:nth-child(48) div div a div, #channels div div:nth-child(48) div div a div svg, #channels div div:nth-child(48) div div.mainContent-2h-GEV, #channels div div:nth-child(48) div div.mainContent-2h-GEV h2 div {
    color: var(--colour-8);
}
#channels div div:nth-child(49) div div a div, #channels div div:nth-child(49) div div a div svg, #channels div div:nth-child(49) div div.mainContent-2h-GEV, #channels div div:nth-child(49) div div.mainContent-2h-GEV h2{
    color: var(--colour-9);
}
#channels div div:nth-child(50) div div a div, #channels div div:nth-child(50) div div a div svg, #channels div div:nth-child(50) div div.mainContent-2h-GEV, #channels div div:nth-child(50) div div.mainContent-2h-GEV h2{
    color: var(--colour-10);
}
